.certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.certification-title {
    position: relative;
}

.certification-title h1 {
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.certification-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    z-index: -1;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin-bottom: 80px;
    width: 100%;
}

.certificate-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
    position: relative; 
}

.certificate-format h3 {
    font-size: 24px;
    font-weight: 600;
}

.certificate-format h2 {
    font-size: 24px; 
    font-weight: 800;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certificate-format p {
    color: #d4d4d4;
    font-size: 16px; 
    line-height: 28px;
}

.certificate-readmore {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.certificate-format:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
