.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    margin-top: 90px;
    height: 300px;
    transition: 0.5s;
}
.hero img:hover{
    transform: scale(1.05);
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 40px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 10px 30px;
    border-radius: 20px;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    cursor: pointer;
}

.hero-resume{
    padding: 10px 45px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    border: 2px solid #89f7fe;
}

.hero-resume .resume-link {
    text-decoration: none;
    color: inherit;
  }
  
  .hero-resume .resume-link:active {
    color: inherit;
  }
  
  .hero-resume .resume-link:focus {
    outline: none;
  }
  